//Page Resets
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   *li{
    list-style: none;
   }
   *a{
    text-decoration: none;
   }


//Imporing Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500&display=swap');
//Importing Variables and resets
@import './Variables/variables';
@import './Variables/typography';
//Importing Components

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 $space_xl_48;

   }

@import './components/header';
@import './components/footer';
//Importing Page Styles
@import './page_styles/home';
@import './page_styles/about';
@import './page_styles/blog';
@import './page_styles/services';
@import './page_styles/contact';
@import './components/buttons';




@media screen and (max-width: 480px){
    .container{
        padding:  0 $space_m_24;
    }
}