.page_banner{
    height: 40vh;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .page_banner_overlay{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $white_colour;
        opacity: .7;
        }
        .page_banner_heading{
            @include heading_1($main_font, $primary_colour);
            position: relative;
            z-index: 5;
            text-transform: uppercase;
        }    
    }
.about_banner{
    background-image: url(../images/JCNP_About_Us_Banner.jpg);
}

/*-------SECTION ONE----------*/

.about_section_1{
    // padding: $space_xxl_64 0;
    display: grid;
    margin-top: $space_xl_48;

    .about_section_1_left{
        .about_section_1_left_caption{
            @include heading_4($main_font, $primary_colour);
            padding-bottom: $space_l_32;
            text-align: center;
            text-transform: uppercase;
            span{
                color: $secondary_colour;
            }
        }
        .about_section_1_left_text{
            @include body_copy($alt_font, $dark_colour);
            text-align: justify;
            padding-bottom: $space_l_32;
        }
        .about_section_1_left_cta{
            display: none;
            visibility: hidden;
        }

    
    }
    .about_section_1_right{
        img{
            width: 100%;
        }
    }
    
}
    
/*-------------About Section 2---------------*/

.about_section_2{

    height: 40vh;
    width: 100%;
   

    .about_section_2_left{
        display: flex;
        flex-direction: column;
        
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width:100%;
        background-color: $light_colour;
        padding: $space_m_24;
        h3{
            @include heading_4($main_font, $secondary_colour);
            text-transform: uppercase;
            text-align: center;
        }
        p{
            @include body_copy($alt_font, $dark_colour);
            text-align: center;
            max-width: 360px;
        }
        button{
            align-self: flex-start;
            align-self: center;
        }
        
    }
    .about_section_2_right{
        display: flex;
        flex-direction: column;
        gap: $space_m_24;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width:100%;
        background-color: $secondary_colour;
        padding: $space_m_24;
        h3{
            @include heading_4($main_font, $primary_colour);
            text-transform: uppercase;
            text-align: center;
        }
        p{
            @include body_copy($alt_font, $white_colour);
            text-align: center;
        }
        button{
            align-self: center;
        }

    }
}

.about_section_3{
    height:100vh;
}














//Media Queries
@media screen and (min-width: 800px) and (max-width: 1020px){
    .about_section_2{
      
    }
}


@media screen and (min-width: 1021px){
    .about_section_1{
        .about_section_1_left_caption{
            text-align: left !important;
        }
        grid-template-columns: 55% 45%;
        gap: $space_xl_48;

        
    }

    .about_section_2{
       
    }
}